@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

.scrollbar-hidden {
    scrollbar-width: none; /* Para Firefox */
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    display: flex;
    width: 200%;
    animation: scroll 20s linear infinite;
  }
  
  .logo-image {
    width: 96px; /* Tamaño base */
    height: 96px;
    object-fit: contain;
  }

  .fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade.active {
    opacity: 1;
  }
  
  
  /* Ajuste para pantallas pequeñas */
  @media (max-width: 900px) {
    .logo-image {
      width: 96px; /* Mismo tamaño que en pantallas grandes */
      height: 96px;
    }
  }
  
  
  
  
  
  